@model ML.Result
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Carrito</h2>

@if (Model.Objects == null)
{
    <div class="">
        <div class="d-flex flex-row-reverse">
            <div class="col-md-12 col-md-offset-10">
                <a href="@Url.Action("GetAll", "Venta")" class="btn btn-success">
                    <i class="fas fa-plus-circle"></i>
                    Añadir Productos
                </a>
            </div>
        </div>

        <br>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="d-flex flex-row-reverse">
            <div class="col-md-offset-10">
                <a href="@Url.Action("GetAll","Venta")" class="btn btn-success">
                    <i class="fas fa-plus-circle"></i>
                    Añadir Mas Productos
                </a>
            </div>
        </div>
        <br>

        <table class="table">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col"><center>Cantidad</center></th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ML.Producto producto in Model.Objects.ToList())
                {
                    <tr>
                        <td style="height:15px; width:15px;">
                            @if (@producto.Imagen == null)
                            {
                                <img style="height: 100%; width:100%;" src="~/DEFAULT.jpg" class="img-responsive">
                            }
                            else
                            {
                                <label> <img style="height: 100%; width:100%;" src="data:image/jpeg;base64,@Convert.ToBase64String(@producto.Imagen)" class="img-responsive" />
                                </label>
                            }
                        </td>
                        <td>
                            <label>@producto.Nombre</label>
                        </td>
                        <td>
                            <label>@producto.PrecioUnitario </label>
                        </td>
                        <td>
                            <a href="@Url.Action("DecrementaProduct", "Carrito", new { id = producto.IdProducto})" class="btn btn-success"> - </a>  
                                     @Html.TextBoxFor(model => producto.Cantidad, new  { Class = "center", disabled = "disabled" })
                            <a href="@Url.Action("IncrementaProduct", "Carrito", new { id = producto.IdProducto })" class="btn btn-success"> + </a>
                        </td>
                        <td>
                            <a id="myBtn" type="button" name="myBtn" class="btn btn-danger" href="@Url.Action("DeleteProduct","Carrito", new {id=producto.IdProducto})"><i class="fas fa-trash"></i>Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex flex-row-reverse">
            <div class="col-md-offset-10">
                @{
                decimal total = 0;
                foreach (ML.Producto producto in Model.Objects.ToList())
                {
                    producto.VentaProducto = new ML.VentaProducto();
                    producto.VentaProducto.Venta = new ML.Venta();
                   
                    total = total + producto.VentaProducto.Venta.Total;
                }
                <label>Total de la Compra: @total </label>
                }
            </div>
        </div>

        <div class="d-flex flex-row-reverse">
            <div class="col-md-offset-10">
                    <i class="fas fa-money-bill-alt"></i>
                    <a href="@Url.Action("ProcesarCompra", "Carrito")" class="btn btn-success"> <img src="@Url.Content("~/finCompra.jpg")"  />  </a>  

                
            </div>
        </div>

    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmacion</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <p>Seguro que Terminaste de Comprar</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("GetAll", "DetallePedido")" class="btn btn-success"><i class="fas fa-cash-register"></i>Terminar Compra</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function openModal() {
        $("#myModal").modal("show");
    }
</script>



